In [1]:
import pandas as pd
import numpy as np
import pylab as pl
from sklearn.neighbors import KNeighborsClassifier

df = pd.read_csv("/Users/Debjani/Downloads/df_tr.csv")
print df.head(3)

   Unnamed: 0  index  PassengerId  Survived  Pclass  \
0           0      0            1         0       3
1           1      1            2         1       1
2           2      2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

In [2]:
df.columns

Index([u'Unnamed: 0', u'index', u'PassengerId', u'Survived', u'Pclass',
       u'Name', u'Sex', u'Age', u'SibSp', u'Parch', u'Ticket', u'Fare',
       u'Cabin', u'Embarked'],
      dtype='object')

In [6]:
df = df.drop(df.columns[[0]], axis = 1)

print df.head(3)

   index  PassengerId  Survived  Pclass  \
0      0            1         0       3
1      1            2         1       1
2      2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

In [12]:
#create a new column 'gender' and assign any numerical value
df['Gender'] = 2

In [13]:
df['Gender']= df['Sex'].map({'female': 0, 'male': 1}).astype(int)

In [14]:
#to create a numpy array for   
median_ages = np.zeros((2,3))
median_ages

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [15]:
#In order to populate the array which shows median age of the passengers in each class
# i represents female(0) and male (1)
# j represents 1, 2 and 3 Pclass

for i in range(0, 2):
    for j in range(0, 3):
        median_ages[i,j] = df[(df['Gender'] == i) & \
                              (df['Pclass'] == j + 1)]['Age'].dropna().median()
 
median_ages

array([[ 35. ,  28. ,  21.5],
       [ 40. ,  30. ,  25. ]])

In [17]:
#create a new column which is a cope of the 'age' column
df['NewAge'] = df['Age']

In [18]:
df[ df['Age'].isnull() ][['Gender','Pclass','Age','NewAge']].head()

    Gender  Pclass  Age  NewAge
5        1       3  NaN     NaN
17       1       2  NaN     NaN
19       0       3  NaN     NaN
26       1       3  NaN     NaN
28       0       3  NaN     NaN

In [19]:
#fill in the missing age values with the median age of male and female in each Pclass type
for i in range(0, 2):
    for j in range(0, 3):
        df.loc[ (df.Age.isnull()) & (df.Gender == i) & (df.Pclass == j+1),\
                'NewAge'] = median_ages[i,j]

In [20]:
df[ df['Age'].isnull() ][['Gender','Pclass','Age','NewAge']].head()

    Gender  Pclass  Age  NewAge
5        1       3  NaN    25.0
17       1       2  NaN    30.0
19       0       3  NaN    21.5
26       1       3  NaN    25.0
28       0       3  NaN    21.5

In [22]:
df.head()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender,NewAge
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,22.0
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,38.0
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,26.0
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,35.0
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,35.0

In [23]:
df['Gender']= df['Sex'].map({'female': 0, 'male': 1}).astype(int)

In [24]:
df.head()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Gender,NewAge
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,22.0
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,38.0
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,26.0
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,35.0
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,35.0

In [ ]:
test_idx = np.random.uniform(0, 1, len(df)) <= 0.3
train = df[test_idx==True]
test = df[test_idx==False]

features = ['Pclass', 'NewAge', 'Gender', 'Parch', 'SibSp']

results = []  
for n in range(1, 51, 2):
    clf = KNeighborsClassifier(n_neighbors=n)
    clf.fit(train[features], train['Survived'])
    preds = clf.predict(test[features])
    accuracy = np.where(preds==test['Survived'], 1, 0).sum() / float(len(test))
    print("Neighbors: %d, Accuracy: %3f" % (n, accuracy))
    results.append([n, accuracy])
results = pd.DataFrame(results, columns=["n", "accuracy"])

pl.plot(results.n, results.accuracy)
pl.title("Accuracy with Increasing K")
pl.show()

Neighbors: 1, Accuracy: 0.713615
Neighbors: 3, Accuracy: 0.730829
Neighbors: 5, Accuracy: 0.726135
Neighbors: 7, Accuracy: 0.777778
Neighbors: 9, Accuracy: 0.752739
Neighbors: 11, Accuracy: 0.721440
Neighbors: 13, Accuracy: 0.726135
Neighbors: 15, Accuracy: 0.690141
Neighbors: 17, Accuracy: 0.677621
Neighbors: 19, Accuracy: 0.694836
Neighbors: 21, Accuracy: 0.694836
Neighbors: 23, Accuracy: 0.660407
Neighbors: 25, Accuracy: 0.658842
Neighbors: 27, Accuracy: 0.641628
Neighbors: 29, Accuracy: 0.651017
Neighbors: 31, Accuracy: 0.630673
Neighbors: 33, Accuracy: 0.646322
Neighbors: 35, Accuracy: 0.622848
Neighbors: 37, Accuracy: 0.633803
Neighbors: 39, Accuracy: 0.618153
Neighbors: 41, Accuracy: 0.649452
Neighbors: 43, Accuracy: 0.649452
Neighbors: 45, Accuracy: 0.635368
Neighbors: 47, Accuracy: 0.646322
Neighbors: 49, Accuracy: 0.641628