In [2]:
import pandas as pd

df = pd.read_csv("/Users/Debjani/Downloads/train_v2.csv")

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (135,204,274,417,462) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head(3)

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f770,f771,f772,f773,f774,f775,f776,f777,f778,loss
0,1,126,10,0.686842,1100,3,13699,7201.0,4949.0,126.75,...,5,2.14,-1.54,1.18,0.1833,0.7873,1,0,5,0
1,2,121,10,0.782776,1100,3,84645,240.0,1625.0,123.52,...,6,0.54,-0.24,0.13,0.1926,-0.6787,1,0,5,0
2,3,126,10,0.500080,1100,3,83607,1800.0,1527.0,127.76,...,13,2.89,-1.73,1.04,0.2521,0.7258,1,0,5,0

In [4]:
df.shape

(105471, 771)

In [6]:
df['loss'][0:100]

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      1
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16    16
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26    19
27     0
28     0
29     0
      ..
70     0
71     0
72     0
73     0
74     0
75     0
76     0
77    11
78     0
79     0
80     0
81     0
82     0
83     0
84     0
85     0
86     0
87    21
88     0
89     0
90     4
91     0
92     0
93     0
94     0
95     0
96     0
97     0
98     0
99     0
Name: loss, dtype: int64