In [1]:
from imdb import IMDb
ia = IMDb()

the_matrix = ia.get_movie('0133093')
print the_matrix['director']

[<Person id:0905154[http] name:_Wachowski, Lana_>, <Person id:0905152[http] name:_Wachowski, Lilly_>]

In [2]:
for person in ia.search_person('Mel Gibson'):
        print person.personID, person['name']

0000154 Mel Gibson
0317112 Mel Gibson
3323885 Adam Taylor
6709224 Mel Gibson
2800055 Mel Gibson
2153167 Mel Gibson
0316945 Donal Gibson
0316878 Cal Gibson
2106809 Raquel Gibson
0317195 Terel Gibson
7699405 Jamel Gibson
3912400 Jamel Gibson
7133936 Jamel Gibson
0316950 E.L. Gibson
0316932 Dean Paul Gibson
6611667 Hazel Gibson
1812763 Rachel Gibson
2798174 Daniel Gibson
4047961 Noel Gibson
7454542 L. Gibson

In [9]:
# Imports at the top
import json
import urllib
import pandas as pd
import numpy as np
import requests
import json
import re
import matplotlib.pyplot as plt
%matplotlib inline

def get_top_250():
    response = requests.get('http://www.imdb.com/chart/top')
    html = response.text
    entries = re.findall("<a href.*?/title/(.*?)/", html)
    return list(set(entries))

In [10]:
entries = get_top_250()

In [11]:
len(entries)

250

In [12]:
entries[0]

u'tt2582802'

In [13]:
df = pd.DataFrame(entries)
df.head()

           0
0  tt2582802
1  tt0047478
2  tt0082971
3  tt0050212
4  tt0848228

In [15]:
import os
import subprocess
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
import scipy
import requests
from imdbpie import Imdb
import nltk
import matplotlib.pyplot as plt
import urllib
from bs4 import BeautifulSoup
import nltk
import collections
import re
import csv
import psycopg2

%matplotlib inline

In [16]:
imdb = Imdb()
imdb = Imdb(anonymize=True)

In [23]:
top250 = imdb.top_250()

In [24]:
top25 = top250[:25]

In [20]:
toCSV = top25
keys = toCSV[0].keys()
with open('top25.csv', 'wb') as output_file:
    dict_writer = csv.DictWriter(output_file, keys)
    dict_writer.writeheader()
    dict_writer.writerows(toCSV)

In [21]:
df_top_25 = pd.read_csv('top25.csv')
tconst = df_top_25['tconst']

In [22]:
print df_top_25.head()

   rating     tconst                     title  \
0     9.3  tt0111161  The Shawshank Redemption
1     9.2  tt0068646             The Godfather
2     9.0  tt0071562    The Godfather: Part II
3     9.0  tt0468569           The Dark Knight
4     8.9  tt0050083              12 Angry Men

                                               image  num_votes  year  \
0  {u'url': u'https://images-na.ssl-images-amazon...    1721496  1994
1  {u'url': u'https://images-na.ssl-images-amazon...    1176533  1972
2  {u'url': u'https://images-na.ssl-images-amazon...     806435  1974
3  {u'url': u'https://images-na.ssl-images-amazon...    1707356  2008
4  {u'url': u'https://images-na.ssl-images-amazon...     458712  1957

  can_rate     type
0     True  feature
1     True  feature
2     True  feature
3     True  feature
4     True  feature