In [ ]:
# import pandas, matplotlib
import pandas as pd
import matplotlib.pyplot as plt
%matplotlab.inline

In [2]:
# read in the csv from https://raw.githubusercontent.com/fivethirtyeight/data/master/flying-etiquette-survey/flying-etiquette.csv

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/flying-etiquette-survey/flying-etiquette.csv')

In [5]:
# view the head
df.head(1)

,RespondentID,How often do you travel by plane?,Do you ever recline your seat when you fly?,How tall are you?,Do you have any children under 18?,"In a row of three seats, who should get to use the two arm rests?","In a row of two seats, who should get to use the middle arm rest?",Who should have control over the window shade?,Is itrude to move to an unsold seat on a plane?,"Generally speaking, is it rude to say more than a few words tothe stranger sitting next to you on a plane?",...,Is itrude to wake a passenger up if you are trying to walk around?,"In general, is itrude to bring a baby on a plane?","In general, is it rude to knowingly bring unruly children on a plane?",Have you ever used personal electronics during take off or landing in violation of a flight attendant's direction?,Have you ever smoked a cigarette in an airplane bathroom when it was against the rules?,Gender,Age,Household Income,Education,Location (Census Region)
0,3436139758,Once a year or less,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# view the columns - use iteration to print them out
df.columns

Index([u'RespondentID', u'How often do you travel by plane?',
       u'Do you ever recline your seat when you fly?', u'How tall are you?',
       u'Do you have any children under 18?',
       u'In a row of three seats, who should get to use the two arm rests?',
       u'In a row of two seats, who should get to use the middle arm rest?',
       u'Who should have control over the window shade?',
       u'Is itrude to move to an unsold seat on a plane?',
       u'Generally speaking, is it rude to say more than a few words tothe stranger sitting next to you on a plane?',
       u'On a 6 hour flight from NYC to LA, how many times is it acceptable to get up if you're not in an aisle seat?',
       u'Under normal circumstances, does a person who reclines their seat during a flight have any obligation to the person sitting behind them?',
       u'Is itrude to recline your seat on a plane?',
       u'Given the opportunity, would you eliminate the possibility of reclining seats on planes entirely?',
       u'Is it rude to ask someone to switch seats with you in order to be closer to friends?',
       u'Is itrude to ask someone to switch seats with you in order to be closer to family?',
       u'Is it rude to wake a passenger up if you are trying to go to the bathroom?',
       u'Is itrude to wake a passenger up if you are trying to walk around?',
       u'In general, is itrude to bring a baby on a plane?',
       u'In general, is it rude to knowingly bring unruly children on a plane?',
       u'Have you ever used personal electronics during take off or landing in violation of a flight attendant's direction?',
       u'Have you ever smoked a cigarette in an airplane bathroom when it was against the rules?',
       u'Gender', u'Age', u'Household Income', u'Education',
       u'Location (Census Region)'],
      dtype='object')

In [7]:
for c in df.columns:
    print c

RespondentID
How often do you travel by plane?
Do you ever recline your seat when you fly?
How tall are you?
Do you have any children under 18?
In a row of three seats, who should get to use the two arm rests?
In a row of two seats, who should get to use the middle arm rest?
Who should have control over the window shade?
Is itrude to move to an unsold seat on a plane?
Generally speaking, is it rude to say more than a few words tothe stranger sitting next to you on a plane?
On a 6 hour flight from NYC to LA, how many times is it acceptable to get up if you're not in an aisle seat?
Under normal circumstances, does a person who reclines their seat during a flight have any obligation to the person sitting behind them?
Is itrude to recline your seat on a plane?
Given the opportunity, would you eliminate the possibility of reclining seats on planes entirely?
Is it rude to ask someone to switch seats with you in order to be closer to friends?
Is itrude to ask someone to switch seats with you in order to be closer to family?
Is it rude to wake a passenger up if you are trying to go to the bathroom?
Is itrude to wake a passenger up if you are trying to walk around?
In general, is itrude to bring a baby on a plane?
In general, is it rude to knowingly bring unruly children on a plane?
Have you ever used personal electronics during take off or landing in violation of a flight attendant's direction?
Have you ever smoked a cigarette in an airplane bathroom when it was against the rules?
Gender
Age
Household Income
Education
Location (Census Region)

In [10]:
# rename columns with shorter name
for c in df.columns:
    c = c[0]
    print c

R
H
D
H
D
I
I
W
I
G
O
U
I
G
I
I
I
I
I
I
H
H
G
A
H
E
L

In [12]:
df.columns = ['ID', 'travel_freq', 'do_you_recline', 'height', 'have_children','three_seats_arm_rest', 'two_seats_arm_rest', \
             'window_shade', 'unsold_seat', 'rude_to_chat', 'getting_up', 'recline_obligation', 'recline_rude', 'elim_recline',\
             'rude_to_switch_friends', 'rude_to_switch_family','rude_to_wake_bathrm', 'rude_to_wake_walk', 'rude_baby', 'rude_unrly_children', \
             'electronics', 'smoked', 'gender', 'age', 'income', 'edu', 'location']

In [13]:
# view head again - now just 3 rows
df.head(3)

,ID,travel_freq,do_you_recline,height,have_children,three_seats_arm_rest,two_seats_arm_rest,window_shade,unsold_seat,rude_to_chat,...,rude_to_wake_walk,rude_baby,rude_unrly_children,electronics,smoked,gender,age,income,edu,location
0,3436139758,Once a year or less,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3434278696,Once a year or less,About half the time,"6'3""",Yes,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"No, not at all rude","No, not at all rude","No, not at all rude",No,No,Male,30-44,NaN,Graduate degree,Pacific
2,3434275578,Once a year or less,Usually,"5'8""",No,Whoever puts their arm on the arm rest first,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$100,000 - $149,999",Bachelor degree,Pacific

In [14]:
# view the last 3 rows

df.tail(3)

,ID,travel_freq,do_you_recline,height,have_children,three_seats_arm_rest,two_seats_arm_rest,window_shade,unsold_seat,rude_to_chat,...,rude_to_wake_walk,rude_baby,rude_unrly_children,electronics,smoked,gender,age,income,edu,location
1037,3431731485,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female,> 60,NaN,Some college or Associate degree,East North Central
1038,3431731196,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female,30-44,"$50,000 - $99,999",Bachelor degree,New England
1039,3431729581,Once a year or less,Once in a while,"6'3""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,> 60,"$50,000 - $99,999",Bachelor degree,Pacific

In [16]:
# check the data type of the DataFrame

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040 entries, 0 to 1039
Data columns (total 27 columns):
ID                        1040 non-null int64
travel_freq               1040 non-null object
do_you_recline            858 non-null object
height                    858 non-null object
have_children             851 non-null object
three_seats_arm_rest      856 non-null object
two_seats_arm_rest        856 non-null object
window_shade              856 non-null object
unsold_seat               855 non-null object
rude_to_chat              855 non-null object
getting_up                855 non-null object
recline_obligation        854 non-null object
recline_rude              854 non-null object
elim_recline              854 non-null object
rude_to_switch_friends    850 non-null object
rude_to_switch_family     850 non-null object
rude_to_wake_bathrm       850 non-null object
rude_to_wake_walk         850 non-null object
rude_baby                 849 non-null object
rude_unrly_children       849 non-null object
electronics               849 non-null object
smoked                    849 non-null object
gender                    1007 non-null object
age                       1007 non-null object
income                    826 non-null object
edu                       1001 non-null object
location                  998 non-null object
dtypes: int64(1), object(26)
memory usage: 219.4+ KB

In [18]:
# How many unique travel frequencies are there? What are they?
df['travel_freq'].unique()

array(['Once a year or less', 'Once a month or less', 'Never',
       'A few times per week', 'Every day', 'A few times per month'], dtype=object)

In [19]:

df['travel_freq'].nunique()

6

In [20]:
# How many unique regions are there? What are they?
df['location'].unique()

array([nan, 'Pacific', 'East North Central', 'New England', 'Mountain',
       'South Atlantic', 'East South Central', 'Middle Atlantic',
       'West North Central', 'West South Central'], dtype=object)

In [21]:
df['location'].nunique()

9

In [27]:
# Select just those columns that relate to the personal characteristics of the person
# Save that as a DataFrame name char

char = df[['ID', 'height', 'have_children', 'age', 'income', 'edu', 'location']]
print char

              ID height have_children    age               income  \
0     3436139758    NaN           NaN    NaN                  NaN
1     3434278696   6'3"           Yes  30-44                  NaN
2     3434275578   5'8"            No  30-44  $100,000 - $149,999
3     3434268208  5'11"            No  30-44         $0 - $24,999
4     3434250245   5'7"            No  30-44    $50,000 - $99,999
5     3434245875   5'9"           Yes  30-44    $25,000 - $49,999
6     3434235351   6'2"           Yes  30-44               150000
7     3434218031   6'0"           Yes  30-44         $0 - $24,999
8     3434213681   6'0"           Yes    NaN                  NaN
9     3434172894   5'6"            No  30-44         $0 - $24,999
10    3434165659   6'0"            No  30-44    $50,000 - $99,999
11    3434164339    NaN           NaN    NaN                  NaN
12    3434161941   5'7"           NaN    NaN                  NaN
13    3434155493    NaN           NaN  30-44  $100,000 - $149,999
14    3434132453    NaN           NaN  18-29                  NaN
15    3434131535   6'0"            No  18-29               150000
16    3434125180    NaN           NaN    NaN                  NaN
17    3434122066   5'8"           Yes  30-44  $100,000 - $149,999
18    3434114105   6'1"            No  30-44               150000
19    3434109246    NaN           NaN    NaN                  NaN
20    3434107997  5'10"            No  18-29    $25,000 - $49,999
21    3434100967   5'7"            No  30-44         $0 - $24,999
22    3434087928    NaN           NaN  18-29    $50,000 - $99,999
23    3434084098    NaN           NaN  18-29         $0 - $24,999
24    3434071488    NaN           NaN  18-29    $50,000 - $99,999
25    3434061256    NaN           NaN  30-44                  NaN
26    3434059758    NaN           NaN  18-29    $50,000 - $99,999
27    3434052290   6'0"            No  30-44    $25,000 - $49,999
28    3434049700   6'2"            No  18-29    $50,000 - $99,999
29    3434041278   5'6"            No  30-44               150000
...          ...    ...           ...    ...                  ...
1010  3431751287   5'1"            No  45-60         $0 - $24,999
1011  3431751153   5'2"            No  18-29         $0 - $24,999
1012  3431751080   6'5"            No  18-29    $25,000 - $49,999
1013  3431748816   5'2"            No  45-60                  NaN
1014  3431748763   5'5"            No   > 60    $25,000 - $49,999
1015  3431748698  5'10"           Yes  45-60               150000
1016  3431747718   5'2"            No  18-29    $25,000 - $49,999
1017  3431746726   5'4"            No  45-60    $50,000 - $99,999
1018  3431745079    NaN           NaN   > 60                  NaN
1019  3431744747   5'8"            No   > 60               150000
1020  3431744533   5'4"           Yes  30-44                  NaN
1021  3431744015    NaN           NaN   > 60                  NaN
1022  3431743115   6'0"            No  45-60  $100,000 - $149,999
1023  3431741243  5'10"            No  18-29         $0 - $24,999
1024  3431740654   5'6"            No   > 60    $50,000 - $99,999
1025  3431738966   5'4"            No  45-60               150000
1026  3431737634   5'6"            No  18-29                  NaN
1027  3431737213   5'8"            No  45-60               150000
1028  3431737008   5'4"            No   > 60    $50,000 - $99,999
1029  3431736876   5'4"            No  18-29                  NaN
1030  3431736855    NaN           NaN  30-44         $0 - $24,999
1031  3431736438    NaN           NaN  30-44    $25,000 - $49,999
1032  3431735911   5'3"            No  30-44               150000
1033  3431734973    NaN           NaN  18-29         $0 - $24,999
1034  3431734398   6'1"           Yes  30-44               150000
1035  3431732652   5'7"            No  30-44         $0 - $24,999
1036  3431731770    NaN           NaN  45-60               150000
1037  3431731485    NaN           NaN   > 60                  NaN
1038  3431731196    NaN           NaN  30-44    $50,000 - $99,999
1039  3431729581   6'3"            No   > 60    $50,000 - $99,999

                                   edu            location
0                                  NaN                 NaN
1                      Graduate degree             Pacific
2                      Bachelor degree             Pacific
3                      Bachelor degree             Pacific
4                      Bachelor degree             Pacific
5                      Graduate degree  East North Central
6     Some college or Associate degree             Pacific
7                      Bachelor degree         New England
8                                  NaN                 NaN
9                      Bachelor degree             Pacific
10                  High school degree            Mountain
11                                 NaN                 NaN
12                                 NaN                 NaN
13    Some college or Associate degree             Pacific
14                  High school degree      South Atlantic
15    Some college or Associate degree  East South Central
16                                 NaN                 NaN
17    Some college or Associate degree     Middle Atlantic
18                     Bachelor degree  West North Central
19                                 NaN                 NaN
20                     Bachelor degree      South Atlantic
21                     Bachelor degree  East North Central
22                     Bachelor degree  East North Central
23    Some college or Associate degree  East North Central
24                     Bachelor degree             Pacific
25                  High school degree     Middle Atlantic
26                     Bachelor degree             Pacific
27                     Bachelor degree  East North Central
28    Some college or Associate degree  West South Central
29    Some college or Associate degree             Pacific
...                                ...                 ...
1010                   Graduate degree             Pacific
1011                   Graduate degree             Pacific
1012  Some college or Associate degree  East North Central
1013  Some college or Associate degree     Middle Atlantic
1014  Some college or Associate degree             Pacific
1015                   Graduate degree            Mountain
1016  Some college or Associate degree            Mountain
1017                   Bachelor degree             Pacific
1018                   Bachelor degree     Middle Atlantic
1019                   Graduate degree             Pacific
1020                   Graduate degree             Pacific
1021  Some college or Associate degree  West South Central
1022                   Bachelor degree  West North Central
1023  Some college or Associate degree             Pacific
1024                   Bachelor degree  West North Central
1025  Some college or Associate degree             Pacific
1026  Some college or Associate degree  West South Central
1027                   Graduate degree             Pacific
1028                   Graduate degree  West North Central
1029                   Bachelor degree  East North Central
1030                   Bachelor degree             Pacific
1031  Some college or Associate degree  East South Central
1032                High school degree     Middle Atlantic
1033  Some college or Associate degree  West South Central
1034                   Graduate degree             Pacific
1035  Some college or Associate degree  East North Central
1036                   Bachelor degree             Pacific
1037  Some college or Associate degree  East North Central
1038                   Bachelor degree         New England
1039                   Bachelor degree             Pacific

[1040 rows x 7 columns]

In [35]:
# From the new char DataFrame, select the height. Can you create a histogram?

import pandas as pd
import matplotlib.pyplot as plt

%matplotlab.inline

char = df[['ID', 'height', 'have_children', 'age', 'income', 'edu', 'location']]

plt.hist(char['height'])

ERROR: Line magic function `%matplotlab.inline` not found.

TypeError: cannot concatenate 'str' and 'float' objects

In [ ]:
# Create a histogram by creating a list comprehension + a function to turn the data into inches

In [ ]:
# Slice the first 3 columns using .iloc notation, then use the double bracket notation

In [ ]:
## Create a dictionary using .unique and a dictionary comprehension
## Then use a list comprehension with a function to update the count the number of degrees
## How many degreee of each type are there?

In [ ]:
# Now use the education column with the .value_counts() method to check your work. Are they the same?