In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing
import seaborn as sns

In [21]:
train = pd.read_csv("/Users/Debjani/Downloads/train.csv")

In [63]:
features = pd.read_csv("/Users/Debjani/Downloads/features.csv")

In [23]:
train.head()

   Store  Dept        Date  Weekly_Sales IsHoliday
0      1     1  2010-02-05      24924.50     False
1      1     1  2010-02-12      46039.49      True
2      1     1  2010-02-19      41595.55     False
3      1     1  2010-02-26      19403.54     False
4      1     1  2010-03-05      21827.90     False

In [64]:
features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [25]:
features['Temperature'].max()

101.95

In [26]:
features['Temperature'].min()

-7.29

In [42]:
features['Temperature']

0       42.31
1       38.51
2       39.93
3       46.63
4       46.50
5       57.79
6       54.58
7       51.45
8       62.27
9       65.86
10      66.32
11      64.84
12      67.41
13      72.55
14      74.78
15      76.44
16      80.44
17      80.69
18      80.43
19      84.11
20      84.34
21      80.91
22      80.48
23      83.15
24      83.36
25      81.84
26      87.16
27      87.00
28      86.65
29      85.22
        ...
8160    32.87
8161    38.78
8162    41.45
8163    26.49
8164    34.92
8165    28.99
8166    35.87
8167    31.48
8168    39.72
8169    36.13
8170    42.81
8171    36.55
8172    40.68
8173    43.94
8174    57.39
8175    56.27
8176    50.64
8177    56.07
8178    58.86
8179    60.59
8180    67.11
8181    65.88
8182    70.71
8183    70.01
8184    70.13
8185    76.05
8186    77.50
8187    79.37
8188    82.84
8189    76.06
Name: Temperature, dtype: float64

In [65]:
w = -7.29
x = 30
y = 65
z = 101.95
filter_values = [w, x, y, z]

out = pd.cut(features['Temperature'], bins = filter_values)
counts = pd.value_counts(out)
# counts is a Series
print(counts)

(30, 65]        4150
(65, 101.95]    3459
(-7.29, 30]      580
Name: Temperature, dtype: int64

In [66]:
print features

      Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0         1  2010-02-05        42.31       2.572        NaN        NaN
1         1  2010-02-12        38.51       2.548        NaN        NaN
2         1  2010-02-19        39.93       2.514        NaN        NaN
3         1  2010-02-26        46.63       2.561        NaN        NaN
4         1  2010-03-05        46.50       2.625        NaN        NaN
5         1  2010-03-12        57.79       2.667        NaN        NaN
6         1  2010-03-19        54.58       2.720        NaN        NaN
7         1  2010-03-26        51.45       2.732        NaN        NaN
8         1  2010-04-02        62.27       2.719        NaN        NaN
9         1  2010-04-09        65.86       2.770        NaN        NaN
10        1  2010-04-16        66.32       2.808        NaN        NaN
11        1  2010-04-23        64.84       2.795        NaN        NaN
12        1  2010-04-30        67.41       2.780        NaN        NaN
13        1  2010-05-07        72.55       2.835        NaN        NaN
14        1  2010-05-14        74.78       2.854        NaN        NaN
15        1  2010-05-21        76.44       2.826        NaN        NaN
16        1  2010-05-28        80.44       2.759        NaN        NaN
17        1  2010-06-04        80.69       2.705        NaN        NaN
18        1  2010-06-11        80.43       2.668        NaN        NaN
19        1  2010-06-18        84.11       2.637        NaN        NaN
20        1  2010-06-25        84.34       2.653        NaN        NaN
21        1  2010-07-02        80.91       2.669        NaN        NaN
22        1  2010-07-09        80.48       2.642        NaN        NaN
23        1  2010-07-16        83.15       2.623        NaN        NaN
24        1  2010-07-23        83.36       2.608        NaN        NaN
25        1  2010-07-30        81.84       2.640        NaN        NaN
26        1  2010-08-06        87.16       2.627        NaN        NaN
27        1  2010-08-13        87.00       2.692        NaN        NaN
28        1  2010-08-20        86.65       2.664        NaN        NaN
29        1  2010-08-27        85.22       2.619        NaN        NaN
...     ...         ...          ...         ...        ...        ...
8160     45  2013-01-04        32.87       3.592    1341.33   30325.14
8161     45  2013-01-11        38.78       3.611    3877.36   15559.85
8162     45  2013-01-18        41.45       3.605   14746.10    4071.06
8163     45  2013-01-25        26.49       3.583    3130.28    1362.10
8164     45  2013-02-01        34.92       3.615   14508.96    1092.53
8165     45  2013-02-08        28.99       3.753   53311.88     531.33
8166     45  2013-02-15        35.87       3.814    9362.02    2017.68
8167     45  2013-02-22        31.48       3.859   10781.51    2735.67
8168     45  2013-03-01        39.72       3.890    6614.32     147.82
8169     45  2013-03-08        36.13       3.860   16382.54      88.67
8170     45  2013-03-15        42.81       3.834    9867.03        NaN
8171     45  2013-03-22        36.55       3.800   11923.74        NaN
8172     45  2013-03-29        40.68       3.784    5444.00        NaN
8173     45  2013-04-05        43.94       3.763   16427.83    5341.41
8174     45  2013-04-12        57.39       3.724    8760.15    1713.11
8175     45  2013-04-19        56.27       3.676    1399.81      39.89
8176     45  2013-04-26        50.64       3.615    1260.65        NaN
8177     45  2013-05-03        56.07       3.592    8345.40       6.00
8178     45  2013-05-10        58.86       3.583    4689.18     440.82
8179     45  2013-05-17        60.59       3.614    4515.35     667.88
8180     45  2013-05-24        67.11       3.627    3249.34     481.82
8181     45  2013-05-31        65.88       3.646    6474.49     411.38
8182     45  2013-06-07        70.71       3.633    9977.82     744.29
8183     45  2013-06-14        70.01       3.632    2471.44     517.87
8184     45  2013-06-21        70.13       3.626    4989.34     385.31
8185     45  2013-06-28        76.05       3.639    4842.29     975.03
8186     45  2013-07-05        77.50       3.614    9090.48    2268.58
8187     45  2013-07-12        79.37       3.614    3789.94    1827.31
8188     45  2013-07-19        82.84       3.737    2961.49    1047.07
8189     45  2013-07-26        76.06       3.804     212.02     851.73

      MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment IsHoliday
0           NaN        NaN        NaN  211.096358         8.106     False
1           NaN        NaN        NaN  211.242170         8.106      True
2           NaN        NaN        NaN  211.289143         8.106     False
3           NaN        NaN        NaN  211.319643         8.106     False
4           NaN        NaN        NaN  211.350143         8.106     False
5           NaN        NaN        NaN  211.380643         8.106     False
6           NaN        NaN        NaN  211.215635         8.106     False
7           NaN        NaN        NaN  211.018042         8.106     False
8           NaN        NaN        NaN  210.820450         7.808     False
9           NaN        NaN        NaN  210.622857         7.808     False
10          NaN        NaN        NaN  210.488700         7.808     False
11          NaN        NaN        NaN  210.439123         7.808     False
12          NaN        NaN        NaN  210.389546         7.808     False
13          NaN        NaN        NaN  210.339968         7.808     False
14          NaN        NaN        NaN  210.337426         7.808     False
15          NaN        NaN        NaN  210.617093         7.808     False
16          NaN        NaN        NaN  210.896761         7.808     False
17          NaN        NaN        NaN  211.176428         7.808     False
18          NaN        NaN        NaN  211.456095         7.808     False
19          NaN        NaN        NaN  211.453772         7.808     False
20          NaN        NaN        NaN  211.338653         7.808     False
21          NaN        NaN        NaN  211.223533         7.787     False
22          NaN        NaN        NaN  211.108414         7.787     False
23          NaN        NaN        NaN  211.100385         7.787     False
24          NaN        NaN        NaN  211.235144         7.787     False
25          NaN        NaN        NaN  211.369903         7.787     False
26          NaN        NaN        NaN  211.504662         7.787     False
27          NaN        NaN        NaN  211.639421         7.787     False
28          NaN        NaN        NaN  211.603363         7.787     False
29          NaN        NaN        NaN  211.567306         7.787     False
...         ...        ...        ...         ...           ...       ...
8160       8.93      35.85    3682.17  192.659622         8.625     False
8161       3.81     152.18    2403.14  192.759980         8.625     False
8162       4.02     483.58    1467.78  192.809507         8.625     False
8163       0.20     332.68    1361.74  192.838701         8.625     False
8164     827.90   26424.02     700.93  192.867895         8.625     False
8165      78.26   24823.94    3233.44  192.897089         8.625      True
8166       0.36    5012.39    6411.71  192.943471         8.625     False
8167      23.38    1516.76    3061.21  193.032822         8.625     False
8168       5.60      27.55    1668.95  193.122173         8.625     False
8169      34.62    3096.92    3486.91  193.211524         8.625     False
8170      11.08     912.87    1360.36  193.296277         8.625     False
8171     308.00    1764.47    1647.31  193.369533         8.625     False
8172     350.84      53.90    1722.11  193.442790         8.625     False
8173     182.59    1523.83    1743.09  193.516047         8.335     False
8174      21.08    1302.31    1380.74  193.589304         8.335     False
8175      44.38      60.83    1445.05  193.589304         8.335     False
8176      57.52      40.51    2476.18  193.589304         8.335     False
8177      92.96    3580.32    2242.24         NaN           NaN     False
8178      53.09     375.22    5738.20         NaN           NaN     False
8179       6.12     522.70    2541.62         NaN           NaN     False
8180      58.48    1183.23    1309.30         NaN           NaN     False
8181      77.06       9.38    4227.27         NaN           NaN     False
8182      80.00    4825.71    3597.34         NaN           NaN     False
8183     348.54    2612.33    3459.39         NaN           NaN     False
8184     178.56    2463.42    3117.94         NaN           NaN     False
8185       3.00    2449.97    3169.69         NaN           NaN     False
8186     582.74    5797.47    1514.93         NaN           NaN     False
8187      85.72     744.84    2150.36         NaN           NaN     False
8188     204.19     363.00    1059.46         NaN           NaN     False
8189       2.06      10.88    1864.57         NaN           NaN     False

[8190 rows x 12 columns]

In [60]:
type(features)

pandas.core.frame.DataFrame

In [67]:
features['IsHoliday'].replace('False', 0)

0       False
1        True
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8160    False
8161    False
8162    False
8163    False
8164    False
8165     True
8166    False
8167    False
8168    False
8169    False
8170    False
8171    False
8172    False
8173    False
8174    False
8175    False
8176    False
8177    False
8178    False
8179    False
8180    False
8181    False
8182    False
8183    False
8184    False
8185    False
8186    False
8187    False
8188    False
8189    False
Name: IsHoliday, dtype: bool

In [59]:
#df = df.replace('*', 0)
# features.replace('True', 1)
# features.replace('False', 0)
features.fillna(-999)
print features

ValueError: fill value must be in categories