# Feature Selection Lab

In this lab we will explore feature selection on the Titanic Dataset. First of all let's load a few things:

- Standard packages
- The training set from lab 2.3
- The union we have saved in lab 2.3


You can load the titanic data as follows:

    psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student titanic
    password: gastudents

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

from sqlalchemy import create_engine
engine = create_engine('postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/titanic')

df = pd.read_sql('SELECT * FROM train', engine)
print df

     index  PassengerId  Survived  Pclass  \
0        0            1         0       3
1        1            2         1       1
2        2            3         1       3
3        3            4         1       1
4        4            5         0       3
5        5            6         0       3
6        6            7         0       1
7        7            8         0       3
8        8            9         1       3
9        9           10         1       2
10      10           11         1       3
11      11           12         1       1
12      12           13         0       3
13      13           14         0       3
14      14           15         0       3
15      15           16         1       2
16      16           17         0       3
17      17           18         1       2
18      18           19         0       3
19      19           20         1       3
20      20           21         0       2
21      21           22         1       2
22      22           23         1       3
23      23           24         1       1
24      24           25         0       3
25      25           26         1       3
26      26           27         0       3
27      27           28         0       1
28      28           29         1       3
29      29           30         0       3
..     ...          ...       ...     ...
861    861          862         0       2
862    862          863         1       1
863    863          864         0       3
864    864          865         0       2
865    865          866         1       2
866    866          867         1       2
867    867          868         0       1
868    868          869         0       3
869    869          870         1       3
870    870          871         0       3
871    871          872         1       1
872    872          873         0       1
873    873          874         0       3
874    874          875         1       2
875    875          876         1       3
876    876          877         0       3
877    877          878         0       3
878    878          879         0       3
879    879          880         1       1
880    880          881         1       2
881    881          882         0       3
882    882          883         0       3
883    883          884         0       2
884    884          885         0       3
885    885          886         0       3
886    886          887         0       2
887    887          888         1       1
888    888          889         0       3
889    889          890         1       1
890    890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
17                        Williams, Mr. Charles Eugene    male   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                             Masselmani, Mrs. Fatima  female   NaN      0
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                             Emir, Mr. Farred Chehab    male   NaN      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                                 Todoroff, Mr. Lalio    male   NaN      0
..                                                 ...     ...   ...    ...
861                        Giles, Mr. Frederick Edward    male  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
864                             Gill, Mr. John William    male  24.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
866                       Duran y More, Miss. Asuncion  female  27.0      1
867               Roebling, Mr. Washington Augustus II    male  31.0      0
868                        van Melkebeke, Mr. Philemon    male   NaN      0
869                    Johnson, Master. Harold Theodor    male   4.0      1
870                                  Balkic, Mr. Cerin    male  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
877                               Petroff, Mr. Nedelio    male  19.0      0
878                                 Laleff, Mr. Kristo    male   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
881                                 Markun, Mr. Johann    male  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500         None        S
1        0          PC 17599   71.2833          C85        C
2        0  STON/O2. 3101282    7.9250         None        S
3        0            113803   53.1000         C123        S
4        0            373450    8.0500         None        S
5        0            330877    8.4583         None        Q
6        0             17463   51.8625          E46        S
7        1            349909   21.0750         None        S
8        2            347742   11.1333         None        S
9        0            237736   30.0708         None        C
10       1           PP 9549   16.7000           G6        S
11       0            113783   26.5500         C103        S
12       0         A/5. 2151    8.0500         None        S
13       5            347082   31.2750         None        S
14       0            350406    7.8542         None        S
15       0            248706   16.0000         None        S
16       1            382652   29.1250         None        Q
17       0            244373   13.0000         None        S
18       0            345763   18.0000         None        S
19       0              2649    7.2250         None        C
20       0            239865   26.0000         None        S
21       0            248698   13.0000          D56        S
22       0            330923    8.0292         None        Q
23       0            113788   35.5000           A6        S
24       1            349909   21.0750         None        S
25       5            347077   31.3875         None        S
26       0              2631    7.2250         None        C
27       2             19950  263.0000  C23 C25 C27        S
28       0            330959    7.8792         None        Q
29       0            349216    7.8958         None        S
..     ...               ...       ...          ...      ...
861      0             28134   11.5000         None        S
862      0             17466   25.9292          D17        S
863      2          CA. 2343   69.5500         None        S
864      0            233866   13.0000         None        S
865      0            236852   13.0000         None        S
866      0     SC/PARIS 2149   13.8583         None        C
867      0          PC 17590   50.4958          A24        S
868      0            345777    9.5000         None        S
869      1            347742   11.1333         None        S
870      0            349248    7.8958         None        S
871      1             11751   52.5542          D35        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000         None        S
874      0         P/PP 3381   24.0000         None        C
875      0              2667    7.2250         None        C
876      0              7534    9.8458         None        S
877      0            349212    7.8958         None        S
878      0            349217    7.8958         None        S
879      1             11767   83.1583          C50        C
880      1            230433   26.0000         None        S
881      0            349257    7.8958         None        S
882      0              7552   10.5167         None        S
883      0  C.A./SOTON 34068   10.5000         None        S
884      0   SOTON/OQ 392076    7.0500         None        S
885      5            382652   29.1250         None        Q
886      0            211536   13.0000         None        S
887      0            112053   30.0000          B42        S
888      2        W./C. 6607   23.4500         None        S
889      0            111369   30.0000         C148        C
890      0            370376    7.7500         None        Q

[891 rows x 13 columns]

In [2]:
# import gzip
# import dill

# with gzip.open('./assets/datasets/union.dill.gz') as fin:
#     union = dill.load(fin)
    
X = df[[u'Pclass', u'Sex', u'Age', u'SibSp', u'Parch', u'Fare', u'Embarked']]
y = df[u'Survived']

X_transf = union.fit_transform(X)
X_transf

NameError: name 'union' is not defined

## 1 Column names

Uh oh, we have lost the column names along the way! We need to manually add them:
- age_pipe => 'scaled_age'
- one_hot_pipe => 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Embarked_C', 'Embarked_Q', 'Embarked_S'
- gender_pipe => 'male'
- fare_pipe => 'scaled_fare'

Now we need to:

1. Create a new pandas dataframe called `Xt` with the appropriate column names and fill it with the `X_transf` data.
2. Notice that the current pipeline complitely discards the columns: u'SibSp', u'Parch'. Stack them as they are to the new dataframe

In [1]:
import pandas as pd

df = pd.read_csv("/Users/Debjani/Downloads/df_tr.csv")
print df.head(3)

   Unnamed: 0  index  PassengerId  Survived  Pclass  \
0           0      0            1         0       3
1           1      1            2         1       1
2           2      2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

## 2. Feature selection

Let's use the `SelectKBest` method in scikit learn to see which are the top 5 features.

- What are the top 5 features for `Xt`?

=> store them in a variable called `kbest_columns`

In [5]:
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LogisticRegression

Xt = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y = df['Survived']

estimator = LogisticRegression()
selector = RFECV(estimator, step=1, cv=5)
selector = selector.fit(Xt, y)
rfecv_columns = Xt.columns[selector.support_]
rfecv_columns

ValueError: could not convert string to float: Q

In [3]:
LogisticRegression

In [ ]:
new_cols = ['scaled_age', 'Pclass_1', 'Pclass_2', 'Pclass_3',
            'Embarked_C', 'Embarked_Q', 'Embarked_S',
            'male', 'scaled_fare']

Xt = pd.DataFrame(X_transf, columns=new_cols)
Xt = pd.concat([Xt, X[[u'SibSp', u'Parch']]], axis = 1)
Xt.head()

In [ ]:
from sklearn.feature_selection import SelectKBest, f_classif

selector = SelectKBest(f_classif, k=5)
selected_data = selector.fit_transform(Xt, y)
kbest_columns = Xt.columns[selector.get_support()]
Xtbest = pd.DataFrame(selected_data, columns=kbest_columns)
Xtbest.head()

## 3. Recursive Feature Elimination

`Scikit Learn` also offers recursive feature elimination as a class named `RFECV`. Use it in combination with a logistic regression model to see what features would be kept with this method.

=> store them in a variable called `rfecv_columns`

## 4. Logistic regression coefficients

Let's see if the Logistic Regression coefficients correspond.

- Create a logistic regression model
- Perform grid search over penalty type and C strength in order to find the best parameters
- Sort the logistic regression coefficients by absolute value. Do the top 5 correspond to those above?
> Answer: Not completely. That could be due to scaling

=> choose which ones you would keep and store them in a variable called `lr_columns`

## 5. Compare features sets

Use the `best estimator` from question 4 on the 3 different feature sets:

- `kbest_columns`
- `rfecv_columns`
- `lr_columns`
- `all_columns`

Questions:

- Which scores the highest? (use cross_val_score)
- Is the difference significant?
> Answer: Not really
- discuss in pairs

## Bonus

Use a bar chart to display the logistic regression coefficients. Start from the most negative on the left.